@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("M../fonts/ontserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 400;
}

span {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #111;
}

button {
  border: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.caption {
  font-size: 48px;
  display: block;
  font-weight: 700;
  color: #16182D;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif, Arial;
  background-color: #FB5018;
  border-radius: 16px;
  text-align: center;
  padding: 0 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #0000FF;
}

input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 2px solid #FFFFFF;
  border-radius: 16px;
  font-size: 14px;
  color: #fff;
  transition: all 0.2s;
}
input::placeholder {
  color: #FFFFFF;
}
input:focus {
  border-color: #282b31;
}

textarea {
  display: block;
  width: 100%;
  height: 210px;
  resize: none;
  padding: 25px 31px;
  border: 2px solid #FFFFFF;
  border-radius: 16px;
  font-size: 14px;
  color: #fff;
  transition: all 0.2s;
}
textarea::placeholder {
  color: #FFFFFF;
}
textarea:focus {
  border-color: #282b31;
}

.heading {
  min-height: 100vh;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}
.heading__wrap {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 40px 0;
}
.heading__inner {
  max-width: 649px;
}
.heading__caption {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}
.heading__caption span {
  color: #0000FF;
  display: inline-block;
}
.heading__descr {
  font-family: "Open Sans" sans-serif, Arial;
  font-size: 18px;
  color: #0E101A;
  margin-bottom: 59px;
}
.heading__btn {
  width: 210px;
}
.heading__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heading__arrow img {
  position: absolute;
  bottom: 11px;
  cursor: pointer;
  transition: all 0.3s;
}
.heading__arrow img:hover {
  transform: scale(1.2);
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header__logo-title {
  color: #0000FF;
  font-size: 26px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .header__wrap-nav {
    display: none;
  }
}
.header__nav {
  display: flex;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-list-lang {
  display: flex;
  align-items: center;
}
.header__nav-list-lang a {
  width: 194px;
}
.header__lang a {
  font-weight: 700;
  padding-right: 51px;
}
.header__nav-item {
  padding-right: 55px;
}
.header__nav-item a {
  font-weight: 600;
  font-size: 14px;
  position: relative;
  transition: all 0.3s;
}
.header__nav-item a::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s;
  background-color: #FB5018;
  color: #fff;
}
.header__nav-item a:hover {
  color: #FB5018;
}
.header__nav-item a:hover::before {
  width: 50px;
}
.header__nav-item:first-child {
  padding-right: 80px;
}

.services {
  padding: 113px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.services__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__preview {
  text-transform: uppercase;
  color: #0000FF;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.services__caption {
  margin-bottom: 33px;
}
.services__descr {
  font-family: "Open Sans";
  font-size: 18px;
  margin-bottom: 116px;
}
.services__col-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -80px 0 0;
}
.services__col {
  width: 33.3333%;
  padding-right: 80px;
  margin-bottom: 78px;
}
.services__col:nth-child(4) {
  margin-bottom: 0;
}
.services__col:nth-child(5) {
  margin-bottom: 0;
}
.services__col:nth-child(6) {
  margin-bottom: 0;
}
.services__col-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
  padding: 30px 0;
  height: 100%;
}
.services__col-img img {
  max-width: 100%;
}
.services__col-link {
  font-size: 14px;
  color: #FB5018;
  position: relative;
}
.services__col-link::after {
  content: "";
  width: 2px;
  height: 12px;
  transform: rotate(90deg);
  background-color: #FB5018;
  display: block;
  position: absolute;
  right: -30px;
  top: -20px;
}
.services__col-link::before {
  content: "";
  width: 11px;
  height: 11px;
  border-bottom: 2px solid #FB5018;
  border-right: 2px solid #FB5018;
  transform: rotate(-45deg);
  position: absolute;
  display: block;
  right: -30px;
}
.services__col-caption {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 22px;
}

.expertise__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.expertise__preview {
  color: #0000FF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.expertise__caption {
  margin-bottom: 33px;
}
.expertise__descr {
  margin-bottom: 114px;
  font-size: 18px;
  color: #16182D;
  max-width: 832px;
}
.expertise__main-wrap {
  display: flex;
  justify-content: flex-end;
}
.expertise__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 200px;
  position: relative;
}
.expertise__numbers::after {
  content: "";
  border: 1px dashed #C4C4C4;
  transform: rotate(180deg);
  display: block;
  width: 1px;
  height: 215px;
  position: absolute;
  z-index: -5;
  top: 70px;
}
.expertise__numbers::before {
  content: "";
  border: 1px dashed #C4C4C4;
  transform: rotate(180deg);
  display: block;
  width: 1px;
  height: 215px;
  position: absolute;
  z-index: -5;
  bottom: 307px;
}
.expertise__number {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(244, 249, 250, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.expertise__numbers-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.expertise__numbers-items span {
  color: #1EE8B9;
  font-size: 30px;
  font-weight: 700;
}
.expertise__number-descr {
  font-size: 20px;
  color: #000;
  max-width: 137px;
  text-align: center;
  margin-bottom: 170px;
}
.expertise__items-wrap {
  display: flex;
  flex-direction: column;
}
.expertise__items {
  display: flex;
  flex-direction: column;
  padding: 29px 15px 35px 41px;
  max-width: 440px;
  box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
  border-radius: 16px;
  margin-bottom: 55px;
}
.expertise__items:last-child {
  margin-bottom: 0;
}
.expertise__item-caption {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 9px;
}
.expertise__item-descr {
  font-size: 18px;
  color: #000000;
  margin-bottom: 19px;
}
.expertise__item-link a {
  color: #FB5018;
  font-size: 14px;
}

.projects__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects__preview {
  color: #0000FF;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}
.projects__caption {
  margin-bottom: 35px;
}
.projects__link {
  text-align: right;
  width: 100%;
}
.projects__link a {
  color: #FB5018;
  font-size: 18px;
}
.projects__main-wrap {
  display: flex;
  align-items: center;
}
.projects__img img {
  max-width: 100%;
}
.projects__tackle-img {
  margin-bottom: 45px;
}
.projects__tackle-img img {
  max-width: 100%;
}
.projects__tackle-caption {
  color: #16182D;
  font-size: 30px;
  margin-bottom: 36px;
  font-weight: 700;
}
.projects__tackle-descr {
  color: #000;
  font-size: 16px;
  margin-bottom: 34px;
}
.projects__tackle-btn {
  width: 210px;
}
.projects__pagination {
  display: flex;
  justify-content: center;
}
.blogs {
  padding-bottom: 150px;
}
.blogs__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blogs__preview {
  color: #0000FF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.blogs__caption {
  margin-bottom: 35px;
}
.blogs__link {
  width: 100%;
  text-align: right;
  margin-bottom: 60px;
}
.blogs__link a {
  color: #FB5018;
  font-size: 18px;
}
.blogs__main-wrap {
  display: flex;
  margin-right: -15px;
}
.blogs__item {
  width: 33.33%;
  padding-right: 15px;
}
.blogs__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blogs__inner img {
  max-width: 100%;
}
.blogs__prewiews {
  max-width: 426px;
  padding: 30px 45px 30px 30px;
  box-shadow: 5px 5px 10px rgba(22, 24, 45, 0.2);
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  bottom: -50px;
}
.blogs__date {
  color: #2D2F35;
  font-size: 14px;
  margin-bottom: 11px;
}
.blogs__item-caption {
  color: #16182D;
  font-size: 22px;
  font-weight: 700;
}

.map__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.map__preview {
  color: #0000FF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.map__caption {
  margin-bottom: 33px;
}
.map__descr {
  max-width: 616px;
  text-align: center;
  margin-bottom: 100px;
}
.map__descr p {
  font-size: 18px;
  color: #16182D;
}
.map__main-wrap {
  position: relative;
}
.map__img img {
  max-width: 100%;
}
.map__avatar {
  position: absolute;
  top: 200px;
  right: 50%;
}
.map__avatar img {
  max-width: 100%;
}
.map__comment {
  padding: 15px 23px;
  box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
  border-radius: 16px;
  background-color: #fff;
  max-width: 260px;
  position: absolute;
  top: 34%;
  right: 52%;
}
.map__comment p {
  font-size: 12px;
  color: #16182D;
  margin-bottom: 10px;
}
.map__comment span {
  font-size: 12px;
  color: #0000FF;
}

.realization {
  padding-bottom: 118px;
}
.realization__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.realization__preview {
  color: #0000FF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.realization__caption {
  margin-bottom: 33px;
}
.realization__descr {
  max-width: 616px;
  text-align: center;
  margin-bottom: 53px;
}
.realization__descr p {
  font-size: 18px;
  color: #16182D;
}
.realization__main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 200px;
  background: linear-gradient(106.35deg, #0000FF 16.74%, #8E7CBE 90.71%);
  border-radius: 10px;
}
.realization__form {
  width: 50%;
  padding-right: 100px;
}
.realization__imput-row {
  display: flex;
}
.realization__imput {
  margin-right: 20px;
}
.realization__imput:last-child {
  margin-right: 0;
}
.realization__img {
  width: 50%;
}
.realization__img img {
  max-width: 100%;
}

.footer {
  padding: 48px 0;
  background-color: #2D2F35;
  position: relative;
}
.footer__wrap {
  display: flex;
}
.footer__col {
  margin-right: 87px;
}
.footer__col:nth-child(4) {
  margin-right: 0;
}
.footer__caption {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}
.footer__descr {
  color: #fff;
  margin-bottom: 61px;
}
.footer__telephone {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  display: block;
}
.footer__eamil {
  margin-bottom: 32px;
  display: block;
  color: #fff;
}
.footer__designation {
  color: #FB5018;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 37px;
}
.footer__siti {
  color: #fff;
  margin-bottom: 6px;
}
.footer__street {
  color: #fff;
  margin-bottom: 75px;
}
.footer__social {
  margin-bottom: 52px;
}
.footer__social-icon {
  margin-right: 40px;
}
.footer__social-icon:last-child {
  margin-right: 0px;
}
.footer__social-icon img {
  max-width: 100%;
}
.footer__copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
}
.footer__copyright svg {
  width: 10px;
  fill: #fff;
  margin-right: 4px;
}
.footer__list-item {
  margin-bottom: 14px;
}
.footer__list-item a {
  color: #fff;
  transition: all 0.3s;
}
.footer__list-item a:hover {
  color: #1a91d0;
}
.footer__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #FB5018;
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer__arrow img {
  max-width: 100%;
  transition: all 0.3s;
}
.footer__arrow img:hover {
  transform: scale(1.2);
}