@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("M../fonts/ontserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #111;
}

button {
  border: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.arrow a {
  color: #FB5018;
  padding-right: 24px;
}
.arrow a::after {
  content: "";
  width: 2px;
  height: 12px;
  transform: rotate(90deg);
  background-color: #FB5018;
  display: block;
  position: absolute;
  right: 6px;
  top: 6px;
  transition: all 0.3s;
}
.arrow a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #FB5018;
  border-right: 2px solid #FB5018;
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  right: 0px;
  top: 7px;
  transition: all 0.3s;
}
.arrow a:hover::after {
  right: -4px;
}
.arrow a:hover::before {
  right: -10px;
}

.caption {
  font-size: 48px;
  display: block;
  font-weight: 700;
  color: #16182D;
}
@media (max-width: 1024px) {
  .caption {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .caption {
    font-size: 25px;
  }
}
@media (max-width: 468px) {
  .caption {
    font-size: 25px;
  }
}

.preview {
  color: #0000FF;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .preview {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .preview {
    font-size: 16px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif, Arial;
  background-color: #FB5018;
  border-radius: 16px;
  text-align: center;
  padding: 0 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #0000FF;
}

input[type=text] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 24px;
  border: 2px solid #FFFFFF;
  background: none;
  border-radius: 16px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
}
input[type=text]::placeholder {
  color: #FFFFFF;
}
input[type=text]:focus {
  border-color: #282b31;
}

input[type=file] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 24px;
  border: 2px dashed #FFFFFF;
  background: none;
  border-radius: 16px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
}
input[type=file]::placeholder {
  color: #FFFFFF;
}
input[type=file]:focus {
  border-color: #282b31;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  width: 100%;
  padding: 15px 40px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  border: 2px dashed #FFFFFF;
  background: none;
  border-radius: 16px;
  display: inline-block;
}

textarea {
  display: block;
  width: 100%;
  height: 210px;
  resize: none;
  padding: 12px 24px;
  border: 2px solid #FFFFFF;
  border-radius: 16px;
  background: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
}
textarea::placeholder {
  color: #FFFFFF;
}
textarea:focus {
  border-color: #282b31;
}

select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 24px;
  border: 2px solid #FFFFFF;
  background: none;
  border-radius: 16px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
}

option {
  color: #000;
  font-size: 14px;
  font-family: "Montserrat";
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header__logo a {
  color: #0000FF;
  font-size: 26px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header__logo a {
    font-size: 20px;
  }
}
.header__burger-position {
  display: none;
}
@media (max-width: 1024px) {
  .header__burger-position {
    display: block;
  }
}
.header__btn-menu {
  position: relative;
  width: 16px;
  height: 12px;
  margin-top: 12px;
}
.header__btn-menu.active span:nth-child(1) {
  top: 1px;
  transform: rotate(-45deg);
  background-color: #000;
}
.header__btn-menu.active span:nth-child(2) {
  opacity: 0;
}
.header__btn-menu.active span:nth-child(3) {
  top: 1px;
  transform: rotate(45deg);
  background-color: #000;
}
.header__btn-menu span {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 15;
  background-color: #000;
}
.header__btn-menu span:nth-child(2) {
  top: 5px;
}
.header__btn-menu span:nth-child(3) {
  top: 10px;
}
@media (max-width: 1024px) {
  .header__wrap-nav {
    display: none;
  }
}
.header__nav {
  display: flex;
}
.header__nav-list {
  display: flex;
  align-items: center;
  position: relative;
}
.header__nav-list-lang {
  display: flex;
  align-items: center;
}
.header__nav-list-lang a {
  width: 194px;
}
.header__lang a {
  font-weight: 700;
  padding-right: 51px;
}
.header__dropbox {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  position: absolute;
  font-weight: 700;
  bottom: -60px;
  right: 236px;
  transition: all 0.3s;
}
.header__dropbox:hover {
  visibility: visible;
  opacity: 1;
}
.header__dropbox li {
  margin-bottom: 5px;
}
.header__nav-item {
  padding-right: 55px;
}
@media (max-width: 1122px) {
  .header__nav-item {
    padding-right: 33px;
  }
}
.header__nav-item a {
  font-weight: 600;
  font-size: 14px;
  position: relative;
  transition: all 0.3s;
}
.header__nav-item a::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s;
  background-color: #FB5018;
  color: #fff;
}
.header__nav-item a:hover {
  color: #FB5018;
}
.header__nav-item a:hover::before {
  width: 50px;
}
.header__nav-item:first-child {
  padding-right: 80px;
}

.heading {
  min-height: 100vh;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}
.heading__wrap {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 40px 0;
}
@media (max-width: 768px) {
  .heading__wrap {
    justify-content: center;
  }
}
.heading__inner {
  max-width: 649px;
}
.heading__caption {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
  display: block;
}
@media (max-width: 1024px) {
  .heading__caption {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .heading__caption {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
.heading__caption span {
  color: #0000FF;
  display: inline-block;
}
.heading__descr {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 18px;
  color: #0E101A;
  margin-bottom: 59px;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .heading__descr {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .heading__descr {
    margin-bottom: 40px;
  }
}
.heading__btn {
  width: 210px;
}
.heading__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heading__arrow img {
  position: absolute;
  bottom: 11px;
  cursor: pointer;
  transition: all 0.3s;
}
.heading__arrow img:hover {
  transform: scale(1.2);
}

.services {
  padding: 73px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .services {
    padding: 40px 0;
  }
}
@media (max-width: 1024px) {
  .services {
    padding: 50px 0;
  }
}
.services__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__preview {
  margin-bottom: 15px;
}
.services__caption {
  margin-bottom: 33px;
}
.services__descr {
  font-family: "Open Sans";
  font-size: 18px;
  margin-bottom: 116px;
}
@media (max-width: 1024px) {
  .services__descr {
    margin-bottom: 50px;
    font-size: 16px;
  }
}
.services__col-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -40px;
}
@media (max-width: 1024px) {
  .services__col-wrap {
    margin: 0 -20px;
  }
}
.services__col {
  width: 33.333%;
  padding: 40px 40px;
}
@media (max-width: 1024px) {
  .services__col {
    padding: 20px 20px;
  }
}
@media (max-width: 768px) {
  .services__col {
    width: 50%;
  }
}
@media (max-width: 607px) {
  .services__col {
    width: 100%;
  }
}
.services__col-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
  padding: 30px 30px;
  height: 100%;
}
.services__col-img {
  width: 150px;
  height: 150px;
}
.services__col-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.services__col-link {
  position: relative;
}
.services__col-link a {
  font-size: 14px;
}
.services__col-caption {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .services__col-caption {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .services__col-caption {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .expertise {
    padding-bottom: 50px;
  }
}
.expertise__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.expertise__preview {
  margin-bottom: 15px;
}
.expertise__caption {
  margin-bottom: 33px;
}
@media (max-width: 768px) {
  .expertise__caption {
    margin-bottom: 15px;
  }
}
.expertise__descr {
  margin-bottom: 114px;
  font-size: 18px;
  color: #16182D;
  max-width: 832px;
  line-height: 26px;
}
@media (max-width: 1024px) {
  .expertise__descr {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .expertise__descr {
    margin-bottom: 50px;
  }
}
.expertise__main-wrap {
  display: flex;
}
.expertise__numbers-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.expertise__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}
@media (max-width: 768px) {
  .expertise__numbers {
    width: 0%;
  }
}
.expertise__img {
  width: 600px;
  height: 600px;
}
@media (max-width: 768px) {
  .expertise__img {
    display: none;
  }
}
.expertise__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.expertise__items-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  padding-left: 200px;
}
@media (max-width: 1024px) {
  .expertise__items-wrap {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .expertise__items-wrap {
    padding-left: 0;
    width: 100%;
  }
}
.expertise__items {
  display: flex;
  flex-direction: column;
  padding: 29px 15px 35px 41px;
  max-width: 440px;
  box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
  border-radius: 16px;
  margin-bottom: 55px;
}
@media (max-width: 1024px) {
  .expertise__items {
    margin-bottom: 30px;
  }
}
.expertise__items:nth-child(2) {
  margin-right: auto;
}
.expertise__items:last-child {
  margin-bottom: 0;
}
.expertise__item-caption {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 9px;
}
@media (max-width: 1024px) {
  .expertise__item-caption {
    font-size: 20px;
  }
}
.expertise__item-descr {
  font-size: 18px;
  color: #000000;
  margin-bottom: 19px;
}
@media (max-width: 1024px) {
  .expertise__item-descr {
    font-size: 16px;
  }
}
.expertise__item-link a {
  color: #FB5018;
  font-size: 14px;
  transition: all 0.3s;
}
.expertise__item-link a:hover {
  color: #1a91d0;
}

@media (max-width: 1024px) {
  .projects {
    padding-bottom: 100px;
  }
}
.projects__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects__preview {
  margin-bottom: 15px;
}
.projects__caption {
  margin-bottom: 35px;
}
.projects__link {
  text-align: right;
  width: 100%;
  position: relative;
}
@media (max-width: 1024px) {
  .projects__link {
    margin-bottom: 50px;
  }
}
.projects__link a {
  font-size: 18px;
}
.projects__main-wrap {
  display: flex;
  align-items: center;
}
.projects__item-slider {
  display: flex;
}
.projects__img {
  width: 65%;
}
@media (max-width: 1024px) {
  .projects__img {
    width: 50%;
  }
}
.projects__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 515px) {
  .projects__img {
    display: none;
  }
}
.projects__tackle {
  width: 35%;
  padding-left: 100px;
}
@media (max-width: 1024px) {
  .projects__tackle {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .projects__tackle {
    padding-left: 40px;
  }
}
@media (max-width: 515px) {
  .projects__tackle {
    width: 100%;
    padding-left: 0;
  }
}
@media (max-width: 515px) {
  .projects__tackle-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.projects__tackle-img {
  margin-bottom: 45px;
  width: 150px;
  height: 150px;
}
@media (max-width: 1024px) {
  .projects__tackle-img {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
  }
}
.projects__tackle-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.projects__tackle-caption {
  color: #16182D;
  font-size: 30px;
  margin-bottom: 36px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .projects__tackle-caption {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 515px) {
  .projects__tackle-caption {
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  .projects__tackle-caption {
    font-size: 20px;
  }
}
.projects__tackle-descr {
  color: #000;
  font-size: 16px;
  margin-bottom: 34px;
}
@media (max-width: 1024px) {
  .projects__tackle-descr {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .projects__tackle-descr {
    font-size: 14px;
  }
}
.projects__tackle-btn {
  width: 210px;
}
@media (max-width: 517px) {
  .projects__tackle-btn {
    width: 100%;
  }
}

.blogs {
  padding-bottom: 150px;
}
.blogs__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blogs__preview {
  margin-bottom: 15px;
}
.blogs__caption {
  margin-bottom: 35px;
}
.blogs__link {
  width: 100%;
  text-align: right;
  margin-bottom: 60px;
  position: relative;
}
.blogs__link a {
  font-size: 18px;
}
.blogs__main-wrap {
  display: flex;
  margin-right: -15px;
}
.blogs__item {
  width: 33.33%;
  padding-right: 15px;
}
.blogs__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blogs__inner img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.blogs__prewiews {
  max-width: 426px;
  padding: 30px 45px 30px 30px;
  box-shadow: 5px 5px 10px rgba(22, 24, 45, 0.2);
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  bottom: -50px;
}
@media (max-width: 1360px) {
  .blogs__prewiews {
    max-width: 300px;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .blogs__prewiews {
    max-width: 200px;
    padding: 10px 10px;
  }
}
.blogs__date {
  color: #2D2F35;
  font-size: 14px;
  margin-bottom: 11px;
  display: block;
}
@media (max-width: 768px) {
  .blogs__date {
    margin-bottom: 5px;
  }
}
.blogs__item-caption {
  color: #16182D;
  font-size: 22px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .blogs__item-caption {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .blogs__item-caption {
    font-size: 14px;
  }
}

.map__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.map__preview {
  margin-bottom: 15px;
}
.map__caption {
  margin-bottom: 33px;
}
.map__descr {
  max-width: 616px;
  text-align: center;
  margin-bottom: 100px;
}
.map__descr p {
  font-size: 18px;
  color: #16182D;
}
.map__main-wrap {
  position: relative;
}
.map__img img {
  max-width: 100%;
}
.map__comment-wrap {
  position: absolute;
  top: 34%;
  right: 52%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-width: 340px;
}
.map__avatar img {
  max-width: 100%;
}
.map__comment {
  padding: 15px 23px;
  box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
  border-radius: 16px;
  background-color: #fff;
  max-width: 260px;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .map__comment {
    padding: 10px;
  }
}
.map__comment p {
  font-size: 12px;
  color: #16182D;
  margin-bottom: 10px;
}
.map__comment span {
  font-size: 12px;
  color: #0000FF;
}

.realization {
  padding-bottom: 118px;
}
.realization__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.realization__preview {
  margin-bottom: 15px;
}
.realization__caption {
  margin-bottom: 33px;
}
@media (max-width: 1024px) {
  .realization__caption {
    margin-bottom: 15px;
  }
}
.realization__descr {
  max-width: 616px;
  text-align: center;
  margin-bottom: 53px;
  line-height: 24px;
}
@media (max-width: 1024px) {
  .realization__descr {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.realization__descr p {
  font-size: 18px;
  color: #16182D;
}
.realization__main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 200px;
  background: linear-gradient(106.35deg, #0000FF 16.74%, #8E7CBE 90.71%);
  border-radius: 10px;
}
@media (max-width: 1246px) {
  .realization__main-wrap {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .realization__main-wrap {
    padding: 40px 60px;
  }
}
.realization__form {
  width: 50%;
  padding-right: 100px;
}
@media (max-width: 768px) {
  .realization__form {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .realization__form {
    padding-right: 50px;
  }
}
@media (max-width: 768px) {
  .realization__form {
    padding-right: 0;
  }
}
.realization__imput-row {
  display: flex;
}
.realization__imput {
  margin-right: 20px;
  margin-bottom: 16px;
  width: 100%;
}
.realization__imput:last-child {
  margin-right: 0;
}
.realization__select {
  margin-bottom: 16px;
}
.realization__textarea {
  margin-bottom: 16px;
}
.realization__file {
  margin-bottom: 16px;
  position: relative;
}
.realization__img-wrap {
  width: 50%;
}
@media (max-width: 768px) {
  .realization__img-wrap {
    width: 0%;
  }
}
.realization__img {
  max-width: 550px;
}
@media (max-width: 768px) {
  .realization__img {
    display: none;
  }
}
.realization__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 48px 0;
  background-color: #2D2F35;
  position: relative;
}
.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer__col {
  width: 25%;
  padding-right: 20px;
}
@media (max-width: 1024px) {
  .footer__col {
    width: 33.3333%;
  }
}
@media (max-width: 768px) {
  .footer__col {
    padding-right: 0;
  }
}
.footer__col:nth-child(4) {
  margin-right: 0;
}
.footer__caption {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}
.footer__descr {
  color: #fff;
  margin-bottom: 61px;
}
.footer__telephone {
  margin-bottom: 14px;
}
.footer__telephone a {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
}
.footer__telephone a:hover {
  color: #1a91d0;
}
.footer__eamil {
  margin-bottom: 32px;
}
.footer__eamil a {
  color: #fff;
  transition: all 0.3s;
}
.footer__eamil a:hover {
  color: #1a91d0;
}
.footer__designation {
  color: #FB5018;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 37px;
  display: block;
}
.footer__siti {
  margin-bottom: 6px;
}
.footer__siti a {
  color: #fff;
}
.footer__siti a:hover {
  color: #1a91d0;
  transition: all 0.3s;
}
.footer__street {
  margin-bottom: 75px;
}
.footer__street a {
  color: #fff;
  transition: all 0.3s;
}
.footer__street a:hover {
  color: #1a91d0;
}
.footer__social {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social-icon {
  width: 20px;
  height: 20px;
}
.footer__social-icon img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.footer__social-icon:last-child {
  margin-right: 0px;
}
.footer__social-icon img {
  max-width: 100%;
}
.footer__copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
}
.footer__list-item {
  margin-bottom: 14px;
}
.footer__list-item a {
  color: #fff;
  transition: all 0.3s;
}
.footer__list-item a:hover {
  color: #1a91d0;
}
.footer__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #FB5018;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.footer__arrow img {
  max-width: 100%;
  transition: all 0.3s;
}
.footer__arrow img:hover {
  transform: scale(1.2);
}