@import "fonts.scss";
@import "mixins.scss";


body {
    margin: 0;
    min-width: 320px;
    font-size: 16px;
    font-family: 'Montserrat' , sans-serif , Arial;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #111;
}

button {
    border: none;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, ul , p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
  }
  
  .wrapper {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
  }

  .arrow {
    a {
        color: #FB5018;
        padding-right: 24px;
        &::after{
            content: '';
            width: 2px;
            height: 12px;
            transform: rotate(90deg);
            background-color: #FB5018;
            display: block;
            position: absolute;
            right: 6px;
            top: 6px;
            @include trs;
        }
        &::before{
            content: '';
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #FB5018;
            border-right: 2px solid #FB5018;
            transform: rotate(-45deg);
            display: block;
            position: absolute;
            right: 0px;
            top: 7px;
            @include trs;
        }

        &:hover::after {
            right: -4px;
        }
        &:hover::before {
            right: -10px;
        }
    }
  }
  
  .caption {
    font-size: 48px;
    display: block;
    font-weight: 700;
    color: #16182D;
    @include b(tablet) {
        font-size: 35px;
    }
    @include b(mobile) {
        font-size: 25px;
    }
    @include b(468) {
        font-size: 25px;
    }
  }

  .preview {
    color: #0000FF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    @include b(tablet) {
        font-size: 18px;
    }
    @include b(mobile) {
        font-size: 16px;
    }
}
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat' , sans-serif , Arial;
    background-color: #FB5018;
    border-radius: 16px;
    text-align: center;
    padding: 0 25px;
    color: #fff;
    cursor: pointer;
    @include trs;

    &:hover {
        background-color: #0000FF;
    }

  }

  input[type=text]{
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 24px;
    border: 2px solid #FFFFFF;
    background: none;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    transition: all .2s;

    &::placeholder {
        color: #FFFFFF;
    }
    &:focus {
        border-color: #282b31;
    }
}

input[type=file]{
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 24px;
    border: 2px dashed #FFFFFF;
    background: none;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    transition: all .2s;

    &::placeholder {
        color: #FFFFFF;
    }
    &:focus {
        border-color: #282b31;
    }

    
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;

        +label {
        
            width: 100%;
            padding: 15px 40px;
            font-size: 14px;
            font-family: "Montserrat";
            font-weight: 700;
            color: #fff;
            cursor: pointer;
            border: 2px dashed #FFFFFF;
            background: none;
            border-radius: 16px;
            display: inline-block;
        }

}

textarea {
    display: block;
    width: 100%;
    height: 210px;
    resize: none;
    padding: 12px 24px;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    background: none;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    transition: all .2s;

    &::placeholder {
        color: #FFFFFF;
    }
    &:focus {
        border-color: #282b31;
    }
}

select {
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 24px;
    border: 2px solid #FFFFFF;
    background: none;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    transition: all .2s;
}

option {
    color: #000;
    font-size: 14px;
    font-family: "Montserrat";
}

// SLICK SLIDER ---------------------------------------
.slider {
    min-width: 0;
    position: relative;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}
.slick-initialized.slick-slider.slick-dotted{
    display: block;
}
//arrow

.slick-arrow {
    @include flex_c;
    position: absolute;
    top: 50%;
    font-size: 0;
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.slick-arrow.slick-prev{
    left: -10px;
    &::after {
        content: '';
        width: 10px;
        height: 10px;
        border-bottom: 3px solid #000;
        border-left: 3px solid #000;
        transform: rotate(45deg);
        display: block; 
        
    }
    
}

.slick-arrow.slick-next{
   right: 0;
   &::after {
       content: '';
       width: 10px;
       height: 10px;
       border-bottom: 3px solid #000;
       border-right: 3px solid #000;
       transform: rotate(-45deg);
       display: block; 
       
   }
   
}

//dots 

.slick-dots{
    @include flex_c;
}
.slick-dots li{
    margin-right: 10px;
}
/* Активная точка */
.slick-dots li.slick-active button{
    background-color: #0000FF;
    @include trs;
}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    background-color: #fff;
}






// SLICK SLIDER ---------------------------------------




.header {
    // background-color: #F2F2F2;
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }

    &__logo {
        a {
            color: #0000FF;
            font-size: 26px;
            font-weight: 700;

            @include b(mobile){
                font-size: 20px;
            }
        }
        
    }
    
    &__burger-position {
        display: none;
        @include b(tablet) {
            display: block;
        }
    }

    &__btn-menu {
        position: relative;
        width: 16px;
        height: 12px;
        margin-top: 12px;

        &.active {
            span {
                &:nth-child(1){
                    top: 1px;
                    transform: rotate(-45deg);
                    background-color: #000;
                }
                        
                &:nth-child(2) {
                    opacity: 0;
                }
            
                &:nth-child(3) {
                    top: 1px;
                    transform: rotate(45deg);
                    background-color: #000;
                }

            } 
        }

        span {
            @include trs;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            z-index: 15;
            background-color: #000;
            &:nth-child(2) {
                top: 5px;
            }
            &:nth-child(3) {
                top: 10px;
            }

            
        }

    } 

    &__wrap-nav {

        @include b(tablet) {
            display: none;
        }
    }

    &__nav {
        display: flex;
    }

    &__nav-list {
        display: flex;  
        align-items: center;
        position: relative;
    }

    &__nav-list-lang {
        display: flex;
        align-items: center;
        position: relative;
        &:hover {
            .header__dropbox {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__lang {
        
        font-weight: 700;
        padding-right: 51px;
        
    }
        
    

    &__dropbox {
        display: none;
        position: absolute;
        bottom: -45px;
        background-color: #f1f1f1;
        width: 30px;
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        @include trs;
        a {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                background-color: #ddd;
            }
        }
    }

    &__nav-item {
        padding-right: 55px;
        @include b(1122) {
            padding-right: 33px;
        }
        

        a {
            font-weight: 600;
            font-size: 14px;
            position: relative;
            @include trs;
        }
        
        a::before {
            content: "";
            position: absolute;
            bottom: -9px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all .3s;
            background-color: #FB5018;
            color: #fff;
        }

        a:hover {
            color: #FB5018;
        }

        a:hover::before {
            width: 50px;
        }
        
        &:first-child {
            padding-right: 80px;
        }
    }

    &__nav-item-btn {
        a {
            width: 194px;
        }
    }
}

  .heading {
    min-height: 100vh;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    
    &__wrap {
        display: flex;
        align-items: center;
        min-height: calc(100vh - 80px);
        padding: 40px 0;
        @include b(mobile){
            justify-content: center;
        }
        
    }

    &__inner {
        max-width: 649px;
        @include b(mobile){

        }

    }

    &__caption {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 50px;
        display: block;
        @include b(tablet) {
            font-size: 40px;
        }
        @include b(mobile){
            font-size: 35px;
            margin-bottom: 20px;
        }
        span {
            color: #0000FF;
            display: inline-block;
        }
    }

    &__descr {
        font-family: "Open Sans" ,sans-serif, Arial;
        font-size: 18px;
        color: #0E101A;
        margin-bottom: 59px;
        line-height: 28px;
        @include b(tablet) {
            font-size: 16px;
        }
        @include b(mobile){
            margin-bottom: 40px;
        }
    }

    &__btn {
        width: 210px;
    }
    &__arrow { 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            bottom: 11px;
            cursor: pointer;
            @include trs;

            &:hover {
            transform: scale(1.2);
            }
        }
    }
}



.services {
    padding: 73px 0;
    @include b(mobile){
        padding: 40px 0;
    }
    @include b(tablet) {
        padding: 50px 0;
    }
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__preview {
        margin-bottom: 15px;
    }

    &__caption {
        margin-bottom: 33px;
    }

    &__descr {
        font-family: "Open Sans";
        font-size: 18px;
        margin-bottom: 116px;
        
        @include b(tablet) {
            margin-bottom: 50px;
            font-size: 16px;
        }
    }

    &__col-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -40px;
        @include b(tablet) {
            margin: 0 -20px;
        }
    }

    &__col {
        width: 33.333%;
        padding: 40px 40px;
        @include b(tablet) {
            padding: 20px 20px;
        }

        @include b(mobile){
            width: 50%;
        }
        @include b(607) {
            width: 100%;
        }

    }

    &__col-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 16px;
        box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
        padding: 30px 30px;
        height: 100%;
        @include b(tablet) {
            
        }
    }

    &__col-img {
        width: 150px;
        height: 150px;
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__col-link {
        position: relative;
        a {
            font-size: 14px;     
         }
    }

    &__col-caption {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        margin-bottom: 22px;
        @include b(tablet) {
            font-size: 16px;
        }
        @include b(mobile){
            margin-bottom: 10px;
        }
    }
}

.expertise {
    @include b(tablet) {
     padding-bottom: 50px;   
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    &__preview {
        margin-bottom: 15px;
    }

    &__caption {
        margin-bottom: 33px;
        @include b(mobile){
            margin-bottom: 15px;
        } 
    }

    &__descr {
        margin-bottom: 114px;
        font-size: 18px;
        color: #16182D;
        max-width: 832px;
        line-height: 26px;
        @include b(tablet) {
            font-size: 16px;
        }

        @include b(mobile){
            margin-bottom: 50px;
        } 
        
    }

    &__main-wrap {
        display: flex;
    }

    &__numbers-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 50%;
        @include b(mobile){
          width: 0%;  
        } 
    }

    &__img {
        width: 600px;
        height: 600px;
        @include b(mobile){
            display: none;
        } 
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__items-wrap{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
        padding-left: 200px;
        @include b(tablet) {
            padding-left: 50px;
        }
        @include b(mobile){
            padding-left: 0;
            width: 100%;
        } 
    }

    &__items {
        display: flex;
        flex-direction: column;
        padding: 29px 15px 35px 41px;
        max-width: 440px;
        box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
        border-radius: 16px;
        margin-bottom: 55px;
        @include b(tablet) {
            margin-bottom: 30px;
        }

        &:nth-child(2) {
            margin-right: auto;
        }

        &:last-child {
            margin-bottom: 0;
        }

       
    }

    &__item-caption {
        font-size: 28px;
        font-weight: 700;
        color: #000;
        margin-bottom: 9px;
        @include b(tablet) {
            font-size: 20px;
        }
    }

    &__item-descr {
        font-size: 18px;
        color: #000000;
        margin-bottom: 19px;
        @include b(tablet) {
            font-size: 16px;
        }
    }


    &__item-link {
        
        a {
            color: #FB5018;
            font-size: 14px;
            @include trs;

            &:hover {
                color: #1a91d0;
            }
        }
    }
}

.projects {
    padding: 100px 0;
    @include b(tablet) {
        padding-bottom: 100px;
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__preview {
        margin-bottom: 15px;
    }

    &__caption {
        margin-bottom: 35px;
    }

    &__link {
        text-align: right;
        width: 100%;  
        position: relative;
        @include b(tablet) {
            margin-bottom: 50px;
        }
        a {
            font-size: 18px;
        }
    }

    &__main-wrap {
        display: flex;
        align-items: center;
        min-width: 0;
    }

    &__item-slider {
        @include flex_c;
    }

    &__img {
        width: 65%;
        @include b(tablet) {
            width: 50%;
        }
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @include b(515) {
            display: none;
        }
    }
    &__tackle {
        width: 35%;
        padding-left: 100px;
        @include b(tablet) {
            width: 50%;
        }
        @include b(mobile){
          padding-left: 40px;  
        } 
        @include b(515) {
            width: 100%;
            padding-left: 0;
        }
    }
    &__tackle-img-wrap {
        @include b(515) {
            @include flex_c;
            width: 100%;
        }
    }

    &__tackle-img {
        margin-bottom: 45px;
        width: 150px;
        height: 150px;
        @include b(tablet) {
            margin-bottom: 20px;
            width: 100px;
            height: 100px;
        }
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

   

    &__tackle-caption {
        color: #16182D;
        font-size: 30px;
        margin-bottom: 36px;
        font-weight: 700;
        @include b(tablet) {
            font-size: 20px;
            margin-bottom: 20px;
        }
        @include b(515) {
            padding-left: 40px;
        }

        @include b(mobile) {
            font-size: 20px;  
        } 
    }

    &__tackle-descr {
        color: #000;
        font-size: 16px;
        margin-bottom: 34px;
        @include b(tablet) {
            margin-bottom: 20px;
        }
        @include b(mobile){
          font-size: 14px;  
        } 
    }

    &__tackle-btn {
        width: 210px;
        @include b(517) {
            width: 100%;
        }
    }
}


.blogs {
    padding-bottom: 150px;
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__preview {
        margin-bottom: 15px;
    }

    &__caption {
        margin-bottom: 35px;
    }

    &__link {
        width: 100%;
        text-align: right;
        margin-bottom: 60px;
        position: relative;
        a {
            font-size: 18px;
        }
    }

    &__main-wrap {
        display: flex;
        margin-right: -15px;
        .slick-arrow {
          margin-top: 40px;
        }

        .slick-arrow.slick-prev {
            left: -20px;
        }
        .slick-arrow.slick-next {
            right: -20px;
        }
    }

    &__slid-item{
        display: flex;
        margin-bottom: 10px;
    }

    &__item {
        width: 33.33%;
        padding-right: 15px;
        @include b(688) {
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                display: none;
            }
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__inner-img {
        max-width: 450px;
        max-height: 350xp;
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__prewiews {
        max-width: 426px;
        padding: 30px 45px 30px 30px;
        box-shadow: 5px 5px 10px rgba(22, 24, 45, 0.2);
        border-radius: 4px;
        background-color: #fff;
        margin-top: -50px;
        @include b(1360) {
            max-width: 300px;
            padding: 20px;
        }
        @include b(mobile){
            max-width: 200px;
            padding: 10px 10px;

        } 
        @include b(688) {
            max-width: 80%;
            width: 100%;
        }
    }

    &__date {
        color: #2D2F35;
        font-size: 14px;
        margin-bottom: 11px;
        display: block;
        @include b(mobile){
          margin-bottom: 5px;  
        } 
    }

    &__item-caption {
       color: #16182D;
       font-size: 22px; 
       font-weight: 700;
       @include b(tablet) {
        font-size: 16px;
        }
        @include b(mobile){
            font-size: 14px;
        } 
    }
}

.map {

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__preview {
        margin-bottom: 15px;
    }

    &__caption {
        margin-bottom: 33px;
    }

    &__descr {
        max-width:616px;
        text-align: center;
        margin-bottom: 100px;
        p{
            font-size: 18px;
            color: #16182D;
        }
    }

    &__main-wrap {
        position: relative;
    }

    &__img {
        img {
            max-width: 100%;
        }
    }

    

    &__comment-wrap {
        position: absolute;
        top: 34%;
        right: 52%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        max-width: 340px;
    }

    &__avatar {
        img {
            max-width: 100%;
        }
    }

    &__comment {
        padding: 15px 23px;
        box-shadow: -5px 12px 30px rgba(209, 217, 230, 0.5), 5px -12px 30px rgba(209, 217, 230, 0.3);
        border-radius: 16px;
        background-color: #fff;
        max-width: 260px;
        margin-right: 30px;
        @include b(tablet) {
            padding: 10px;
        }
        p{
            font-size: 12px;
            color: #16182D;
            margin-bottom: 10px;
        }
        span{
            font-size: 12px;
            color: #0000FF;
        }
    }
}

.realization {
    padding-bottom: 118px;
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__preview {
        margin-bottom: 15px;
    }

    &__caption {
        margin-bottom: 33px;
        @include b(tablet) {
            margin-bottom: 15px;
        }
    }

    &__descr {
        max-width:616px;
        text-align: center;
        margin-bottom: 53px;
        line-height: 24px;
        @include b(tablet) {
            font-size: 16px;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
            color: #16182D;
        }
    }

    &__main-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 55px 200px;
        background: linear-gradient(106.35deg, #0000FF 16.74%, #8E7CBE 90.71%);
        border-radius: 10px;
        @include b(1246) {
            padding: 40px;
        }
        @include b(mobile){
          padding: 40px 60px;  
        } 
    }

    &__form {
        width: 50%;
        @include b(mobile) {
            width: 100%;
        }
        padding-right: 100px;
        @include b(tablet) {
            padding-right: 50px;
        }
        @include b(mobile){
          padding-right: 0;  
        } 
    }

    &__imput-row {
        display: flex;
    }

    &__imput {
        margin-right: 20px;
        margin-bottom: 16px;
        width: 100%;
        &:last-child {
            margin-right: 0;
        }
    }

    &__select {
        margin-bottom: 16px;
    }

    &__textarea {
        margin-bottom: 16px;
    }

    &__file {
        margin-bottom: 16px;
        position: relative;
    }

    &__btn {
    }

    &__img-wrap {
        width: 50%;
        @include b(mobile) {
            width: 0%;
        }
    }

    &__img {
        max-width: 550px;
        @include b(mobile){
          display: none;  
        } 
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
    }
}

.footer {
    padding: 48px 0;
    background-color: #2D2F35;
    position: relative;

    &__wrap {
        display: flex;  
        flex-wrap: wrap;  
        justify-content: flex-end; 
    }

    &__col {
        width: 25%;
        padding-right: 20px;
        @include b(tablet) {
            width: 33.3333%;
        }
        @include b(mobile) {
            padding-right: 0;
        }
        
        &:nth-child(4) {
            margin-right: 0;
        }
        
    }

    &__caption {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 10px;
    }

    &__descr {
        color: #fff;
        margin-bottom: 61px;
    }

    &__telephone {
        margin-bottom: 14px;
        a {
            font-weight: 700;
            font-size: 20px;
            color: #fff;
            @include trs;
            &:hover {
                color: #1a91d0;
            }
        }
    }

    &__eamil {
        margin-bottom: 32px;
        a {
            color: #fff;
            @include trs;
            &:hover {
                color: #1a91d0;
            }
        }
        
    }

    &__designation {
        color: #FB5018;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 37px;
        display: block;
    }

    &__siti {
        margin-bottom: 6px;
        a {
            color: #fff;
            &:hover {
            color: #1a91d0;
            @include trs;
            }
        }
        
    }

    &__street {
        margin-bottom: 75px;
        a {
            color: #fff;
            @include trs;
            &:hover {
            color: #1a91d0;
           }
        }
        
    }

    &__social {
        margin-bottom: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include b(tablet) {

        }
    }

    &__social-icon {
        width: 20px;
        height: 20px;
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
        @include b(tablet) {
            
        }
        
        &:last-child {
            margin-right: 0px;
        }
        img {
            max-width: 100%;
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #fff;
  
    }

    &__menu {
    }

    &__list {
    }

    &__list-item {
        margin-bottom: 14px;
        a {
            color: #fff;
            @include trs;
            

            &:hover {
                color: #1a91d0;
            }
        }
        
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background-color: #FB5018;
        position: absolute;
        bottom: 0;
        right: 20px;

        img {
            max-width: 100%;
            @include trs;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}





 

  